cocos2d/*
proj.android-studio/app/obj/*
proj.android-studio/app/libs/*
proj.android-studio/.idea/*
proj.android/bin/*
proj.android/gen/*
proj.android/libs/*
proj.android/obj/*
proj.android/local.properties
proj.tizen/*
proj.win10/*
proj.win32/Debug.win32/*
proj.win32/Release.win32/*
proj.win32/.vs/*
proj.win8.1-universal/*
vendor/*
proj.win32/RapidFire.VC.VC.opendb
bin/*
proj.android-studio/proj.android-studio.iml
proj.win32/RapidFire.VC.db
proj.win32/RapidFire.VC.db
proj.win32/RapidFire.VC.db